.main-collection-hero{
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
}

.main-collection-hero > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 1rem;
}

.main-collection-hero p{
    color: #222222;
    font-size: 1.2rem;
    font-weight: bold;
}

.main-collection-hero h2{
    font-size: 4rem;
    font-weight: 900;
    color: #222222;
}

.main-collection-hero > div > div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.main-collection-hero a{
    color: white;
    background-color: #222222;
    padding: 0.9rem 1.3rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.main-collection-hero a:hover{
    background-color: #676767;
    padding: 0.9rem 1.5rem;
}


@media (max-width: 900px){
    .main-collection-hero{
        height: 500px;
    }
}

@media (max-width: 380px){
    .main-collection-hero h2{
        font-size: 2.5rem;
    }
    .main-collection-hero p{
        font-size: 1rem;
    }
    .main-collection-hero a{
        padding: 0.7rem 1rem;
    }
    .main-collection-hero a:hover{
        padding: 0.7rem 1.2rem;
    }
    .main-collection-hero{
        height: 400px;
    }
}